* {
    margin: 0;
    padding: 0;
}

.img {
    border: solid 2px rgb(255, 255, 255);
}

img {
    width: 204px;
    height: 274px;
}

section {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 70px;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(0, 0, 0);
}

nav a {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    transition: 0.5s;
    text-decoration: underline black;
}

nav a:hover {
    border: 1px solid rgb(101, 110, 211); 
    color: rgb(101, 110, 211);
    text-decoration: underline rgb(101, 110, 211);
}

footer {
    color: rgb(0, 0, 0);
    text-decoration: underline black;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    border-top: solid 2px black;
}

header {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-bottom: solid 2px black;
}

.real {
    display: flex;
    flex-direction: column-reverse;
}

.img:hover {
    border: solid 2px rgb(0, 0, 0);
}

main {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

main a {
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-decoration: underline black;
    font-weight: bold;
    transition: 0.5s;
}

main a:hover {
    color: rgb(101, 110, 211);
    text-decoration: underline rgb(101, 110, 211);
}

h2 {
    padding-top: 50px;
    padding-bottom: 25px;
    text-decoration: underline black;
}

h3 {
    padding: 20px;
    font-size: x-large;
}

h4 {
    font-size: x-large;
}

.list {
    padding: 30px;
}

.detail {
    padding: 20px;
}

ul {
    list-style-type: none;
}